<div id="<%= dom_id product %>">
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Additional description:</strong>
    <%= product.additional_description %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= product.model %>
  </p>

  <p>
    <strong>Discarded at:</strong>
    <%= product.discarded_at %>
  </p>

  <p>
    <strong>Lock version:</strong>
    <%= product.lock_version %>
  </p>

</div>
